

body{ 
background: #FFF444; 
} 

#wrapper{ 
background: white; 
height: auto; 
min-height: 250px; 
width: 1000px; 
margin: 20px auto; 
box-shadow: 1px 1px 10px 3px #000000; 
text-align: center; 
}

header{ 
	width: 1000px; 
	height: 150px; 
	background: #d0e4fe; 
} 

div#boxers{ 
	background: orange; 
	height: 500px; 
	width: 900px; 
	margin top: auto; 
	margin-bottom: 50px; 
	margin-left: auto; 
	margin-right: auto; 
	vertical-align: top; 
	display: inline-block; 
	text-align: center; 
} 

div#box > div{ 
	background: url(tile_bg.jpg) no-repeat; 
	border:#000 1px solid; 
	width:71px; 
	height:71px; 
	float:left; 
	margin:10px; 
	padding:20px; 
	font-size:64px; 
	cursor:pointer; 
	text-align:center; 
}